body {
	background: #ffffff;
	color: #000000;
	font-size: 14px;
	margin: 0;
	padding: 0;
	text-align: left;
}
.content {
	width: 800px;
	margin: 0 auto;
	position: relative;
	text-align: center;
}
.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	border: solid 7em #ff;
	border-radius: .5em;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	color: #516E9E;
	border: solid 1px #C5DBEC;
	background: #EAF4FD;
}
.button:hover {
	text-decoration: none;
	background: #DDECF7;
	border: solid 1px #79B7E7;
}
.button:active {
	position: relative;
	top: 1px;
	color: #E4700A;
	background: #F9FAFB;
}
.clock {
	font-size: 50px;
	color: #222222;
}	
